{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Partner</h1>
    <hr class="my-4">
    <p class="lead">Partner Detail</p>
    <p>Hostname: {{ partner.hostid }}</p>
    <p>Site: {{ partner.site }}</p>
    <p>Type: {{ partner.type }}</p>
    <hr class="my-4">
    <p class="lead">Flow coming from this host</p>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Active</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        {% for flow in flows %}
        <tr>
          <th scope="row">{{ flow.waarp_id }}</th>
          <td>{{ flow.name }}</td>
          <td>{% if flow.active %}{% include 'includes/_checkmark.html' %}{% else %}{% include 'includes/_xcheck.html' %}{% endif %}</td>
          <td>{{ flow.description }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="/info" role="button">Informations</a>
  </div>
{% endblock %}
